### Eclipse ###
.metadata

### Vim ###
*.swp
*~

### ctags ###
tags

### IntelliJ ###
# User-specific stuff:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries/
**/.idea/misc.xml

# Sensitive or high-churn files:
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml

### VS
# User-specific files
*.suo
*.user
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

### Stack ###
.stack-work/

### Cabal ###
cabal-dev/
dist/
.dist-buildwrapper/
.cabal-sandbox/
cabal.sandbox.config

