### Cabal ###
/cabal-dev
/dist
/.dist-buildwrapper
/.cabal-sandbox
/cabal.sandbox.config

### Stack ###
/.stack-work/

### Other build artifacts ###
/cbits/build
/tests/tmp
/res/*.zip

### IntelliJ ###
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

