### Build artifacts ###
/cbits/build
/tests/tmp
/res/*.zip

### Local settings
linux-cabal.project.local

### IntelliJ ###
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

