{{#type_is_void}}object{{/type_is_void
}}{{^type_is_void}}{{type}}{{/type_is_void
}}{{#dimension_is_1}}[]{{/dimension_is_1
}}{{#dimension_is_2}}[][]{{/dimension_is_2
}}{{#dimension_is_3}}[][][]{{/dimension_is_3}}