{{#type_is_topcoder
}}{{#dimension_is_1}}TestRunner.A({{/dimension_is_1
}}{{#dimension_is_2}}TestRunner.A(TestRunner.A({{/dimension_is_2
}}{{#dimension_is_3}}TestRunner.A(TestRunner.A(TestRunner.A({{/dimension_is_3
}}new {{type}}Serializer(){{#dimension_is_1}}){{/dimension_is_1
}}{{#dimension_is_2}})){{/dimension_is_2
}}{{#dimension_is_3}}))){{/dimension_is_3
}}{{/type_is_topcoder
}}{{#type_is_leetcode
}}{{#dimension_is_1}}TestRunner.L({{/dimension_is_1
}}{{#dimension_is_2}}TestRunner.L(TestRunner.L({{/dimension_is_2
}}{{#dimension_is_3}}TestRunner.L(TestRunner.L(TestRunner.L({{/dimension_is_3
}}new {{type}}Serializer(){{#dimension_is_1}}){{/dimension_is_1
}}{{#dimension_is_2}})){{/dimension_is_2
}}{{#dimension_is_3}}))){{/dimension_is_3
}}{{/type_is_leetcode
}}