{{# dimension_is_1}}Caide.S.v({{/dimension_is_1
}}{{#type_is_int}}new Caide.IntSerializer(){{/type_is_int
}}{{#type_is_long}}new Caide.LongSerializer(){{/type_is_long
}}{{#type_is_double}}new Caide.DoubleSerializer(){{/type_is_double
}}{{#type_is_bool}}new Caide.BoolSerializer(){{/type_is_bool
}}{{#type_is_string}}new Caide.StringSerializer(){{/type_is_string
}}{{#dimension_is_1}}){{/dimension_is_1}}