{{#dimension_is_1}}std::vector<{{/dimension_is_1}}{{#dimension_is_2}}std::vector<std::vector<{{/dimension_is_2}}{{#dimension_is_3}}std::vector<std::vector<std::vector<{{/dimension_is_3
}}{{#type_is_string}}std::{{/type_is_string
}}{{type
}}{{#type_is_long}} long{{/type_is_long
}}{{^type_is_int}}{{^type_is_long}}{{^type_is_double}}{{^type_is_string}}{{^type_is_bool
}}*{{/type_is_bool}}{{/type_is_string}}{{/type_is_double}}{{/type_is_long}}{{/type_is_int
}}{{#dimension_is_1}}>{{/dimension_is_1}}{{#dimension_is_2}}> >{{/dimension_is_2}}{{#dimension_is_3}}> > >{{/dimension_is_3}}