{{#dimension_is_1}}vector<{{/dimension_is_1}}{{#dimension_is_2}}vector<vector<{{/dimension_is_2}}{{#dimension_is_3}}vector<vector<vector<{{/dimension_is_3}}{{type
}}{{#type_is_long}} long{{/type_is_long
}}{{#dimension_is_1}}>{{/dimension_is_1}}{{#dimension_is_2}}> >{{/dimension_is_2}}{{#dimension_is_3}}> > >{{/dimension_is_3}}