{{#codeSnippets.cpp}}{{&.}}{{/codeSnippets.cpp}}
{{#topcoder}}
{{^codeSnippets.cpp}}
class {{className}} {
public:
    {{#singleMethod}}
    {{#method}}{{>cpptype}} {{name}}({{/method}}{{#
    parameters}}{{>cpptype}} {{name}}{{^islast}}, {{/islast}}{{/parameters}}) {
        {{#method}}{{>cpptype}} result{{>typeinit}};{{/method}}
        return result;
    }
    {{/singleMethod}}
};
{{/codeSnippets.cpp}}

{{#singleMethod}}
{{#method}}{{>cpptype}}{{/method}} solve({{#parameters}}{{>cpptype}} {{name}}, {{/parameters}}int) {
{{/singleMethod}}
    {{className}} sol;
    return sol.{{singleMethod.method.name}}({{#singleMethod.parameters}}{{name}}{{^islast}}, {{/islast}}{{/singleMethod.parameters}});
}
{{/topcoder}}